body {
    background-color: darkolivegreen;
    font-family: Verdana;
}
h1 {
    color: darkred;
    text-align: center;
    padding: inherit;
}
.heading {
    color: darkorange;
    text-align: center;
}
#list-color {
    color: yellow;

}
img {
    border-style: solid;
    border-color: ghostwhite;
    margin-right: "175";
}
