body {
    background-color: darkolivegreen;
    font-family: Verdana;
}
h1 {
    color: darkred;
    text-align: center;
}
.heading {
    color: darkorange;
    text-align: center;
}
#list-color {
    color: yellow;

}