body {
    background-color: darkolivegreen;
    font-family: Verdana;
}
h1 {
    color: darkred;
    text-align: center;
    padding: inherit;
}
.heading {
    color: darkorange;
    text-align: center;
}
#list-color {
    color: yellow;
    margin-right: "300";
    margin-left: 650px;

}
img {
    text-align: center;
    border-style: solid;
    border-color: ghostwhite;
    padding: 30px;
}
.center {
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 25%;
}